[Unit]
Description=Gunicorn service of ydlg
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/app
ExecStart=/usr/local/bin/gunicorn --workers 3 --access-logfile ydlg.log --bind unix:/tmp/ydlg.sock -m 007 wsgi

[Install]
WantedBy=multi-user.target
